<div>

    {{ form_start(search) }}
        <div class="row align-items-end">
            <div class="col-7">
                    {{ form_label(search.value, 'Consulta') }}        
                    {{ form_widget(search.value) }}
            </div>
            <div class="col-3">
                    {{ form_label(search.field, 'Camp') }}        
                    {{ form_widget(search.field) }}
            </div>
         {#    <div class="col-6 col-md-4 col-xl-2">
                    {{ form_label(search.orderField, 'Camp ordre') }}        
                    {{ form_widget(search.orderField) }}
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                    {{ form_label(search.order, 'Ordre') }}        
                    {{ form_widget(search.order) }}
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                    {{ form_label(search.limit, 'Limit') }}        
                    {{ form_widget(search.limit) }}
            </div> #}
            <div class="col-2">
                <label class="form-label py-2"></label>{{ form_widget(search.Buscar) }}
            </div>
            {{ form_rest(search) }}
        </div>
        {{ form_end(search) }}
    </div>