<div class="bg-light border row align-items-center justify-content-center my-3 p-3">
    <p>
        Indica los criterios de búsqueda y presiona el botón <i>Buscar</i>.
    </p>

    {{ form_start(search) }}
        <div class="row">
            <div class="col-6 col-md-6 col-xl-6">
                    {{ form_label(search.value, 'Consulta') }}        
                    {{ form_widget(search.value) }}
            </div>
            <div class="col-6 col-md-3 col-xl-3">
                    {{ form_label(search.field, 'Camp') }}        
                    {{ form_widget(search.field) }}
            </div>
         {#    <div class="col-6 col-md-4 col-xl-2">
                    {{ form_label(search.orderField, 'Camp ordre') }}        
                    {{ form_widget(search.orderField) }}
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                    {{ form_label(search.order, 'Ordre') }}        
                    {{ form_widget(search.order) }}
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                    {{ form_label(search.limit, 'Limit') }}        
                    {{ form_widget(search.limit) }}
            </div> #}
            <div class="col-6 col-md-4 col-xl-2 align-self-end">
                <label class="form-label py-2"></label>{{ form_widget(search.Buscar) }}
            </div>
            {{ form_rest(search) }}
        </div>
        {{ form_end(search) }}
    </div>