<table class="table table-striped table-hover text-center table-bordered my-3">
    <thead>
        <tr>
            <th class="px-3">Nom</th>
            <th>Teléfon</th>
            <th>Estat tiquet</th>
            <th>Accions</th>
        </tr>
    </thead>

      <tbody>
            {% if tickets|length > 0 %}
                {% set i = 1 %}
                {% for ticket in tickets %}
                    {% set i = i + 1 %}
                    {% set participant = ticket.getParticipant() %}
                    {% set activity = ticket.getActivity() %}
                    {% set ticketStatus = ticket.getTicketStatus() %}

                    <tr>                                 
                        <td class="text-start px-3">{{ participant.name }}</td>
                        <td class="col-1">{{ participant.phone }}</td>
                       <td class="disponibility">{{ ticketStatus.getDescription }} </td>
                        <td>
                        

                        {# INICI EDITAR #}
                        <a href="{{ path('activity_edit', {'id': participant.id}) }}" type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                <path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="42" />
                                <path d="M459.94 53.25a16.06 16.06 0 00-23.22-.56L424.35 65a8 8 0 000 11.31l11.34 11.32a8 8 0 0011.34 0l12.06-12c6.1-6.09 6.67-16.01.85-22.38zM399.34 90L218.82 270.2a9 9 0 00-2.31 3.93L208.16 299a3.91 3.91 0 004.86 4.86l24.85-8.35a9 9 0 003.93-2.31L422 112.66a9 9 0 000-12.66l-9.95-10a9 9 0 00-12.71 0z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="15" />
                            </svg>
                        </a>
                        {# FI EDITAR #}



                        {# INICI ELIMINAR #}

                        {# TODO: En comptes d'eliminar el participant -> desvincular el tiquet de l'activitat  (eliminar / ocultar tiquet) #}

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete{{participant.id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                <path d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352" />
                                <path d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                            </svg>
                        </button>
                        {# FI ELIMINAR #}


                        </td>
                    </tr>

                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalDelete{{participant.id}}" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle{{participant.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{ participant.name }}</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>            
                            </div>
                            <div class="modal-body">
                                Vols eliminar aquest tiquet?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    CANCELAR
                                </button>
                                <a type="button" class="btn special-btn" href="{{ path("activity_remove_participant", {'id' : ticket.id}) }}">
                                    ELIMINAR
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                {% set i = 1 %}
            {% endif %}
            {% for iterator in i..activity.placesTotal %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> 
                        <button type="button" class="btn btn-primary" data-toggle="modal" style="visibility:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                <path d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352" />
                                <path d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                            </svg>
                        </button> 
                    </td>
                </tr>
                            
            {% endfor %}

    </tbody> 
</table>