{% extends 'base.html.twig' %}

{% block title %}{{ participant.name }} {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
       <li class="breadcrumb-item"><a href="{{ path('participant_list') }}">Participants</a></li>
        <li class="breadcrumb-item active">{{ participant.name }}</li>
{% endblock %}

{% block main %}
    {{ parent() }}


    <div class="table-responsive overflow-hidden p-1">
           
    <h4 class="border-bottom py-2 mb-3">{{ participant.name }}</h4>
        
   {#  <div class="row align-items-end justify-content-between">
        <div class="col-3">
            <a href="{{ path('activity_create') }}" id="scroll-up" class="btn btn-primary align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                    <title>Crear activitat</title>
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="44" d="M256 112v288M400 256H112"/>
                </svg>
                CREAR ACTIVITAT
            </a>
        </div>


        <div class="col-7">
                {% include 'includes/search.html.twig' %}
        </div>
    </div>


    <div class="text-end px-4 mt-1">
        <a href="{{ path('ticket_forget_search') }}">Eliminar filtres</a>
    </div>
 #}
    {% include 'includes/ticket_list_participant.html.twig' %}


    {%
        include 'includes/paginator.html.twig' with {
            'route' : 'ticket_list',
            'entidades' : 'tiquets',
            'idEntidad' : participant.id
        }
    %}
            
                        
{% endblock %}
