{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block jsLinks %}
    <script src="/js/momentCat.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
{% endblock %}

{% block main %}
<h2 class="pb-2 mb-2">Crear activitat</h2>

<div class="row">
    <div class="col-8">
        {{ form_start(formulario) }}
            <div class="row">


               <h5 class="mt-3">General</h5>
                <div class="col-6 my-2">
                    {{ form_label(formulario.name, 'Nom de l\'activitat') }}
                    {{ form_widget(formulario.name) }}
                </div>
                <div class="col-6 my-2">
                    {{ form_label(formulario.worker, 'Tallerista') }}
                    {{ form_widget(formulario.worker) }}
                </div>
                <div class="col-12 my-2">
                    {{ form_label(formulario.description, 'Descripció') }}
                    {{ form_widget(formulario.description) }}
                </div>
                <div class="col-4 my-2">
                    {{ form_label(formulario.is_free, 'Preu') }}
                    {{ form_widget(formulario.is_free) }}
                </div>
                <div class="col-2 my-2">
                    {{ form_label(formulario.places_total, 'Places PS') }}
                    {{ form_widget(formulario.places_total) }}
                </div>
                <div class="col-6 my-2">
                    {{ form_label(formulario.picture, 'Imatge') }}
                    {{ form_widget(formulario.picture) }}
                </div>


                 <h5 class="mt-5">Categories</h5>
                <div class="col-6 my-2">
                    {{ form_label(formulario.ageRange, 'Grup d\'edat') }}
                    {{ form_widget(formulario.ageRange) }}
                </div>
                <div class="col-6 my-2">
                    {{ form_label(formulario.category, 'CategorIa') }}
                    {{ form_widget(formulario.category) }}
                </div>


                <h5 class="mt-5">Horaris i dates</h5>
                <div class="col-5 my-2">
                    {{ form_label(formulario.start_date, 'Data inici') }}
                    {{ form_widget(formulario.start_date) }}
                </div>
                <div class="col-5 my-2">
                    {{ form_label(formulario.end_date, 'Data fi') }}
                    {{ form_widget(formulario.end_date) }}
                </div>
                <div class="col-2 my-2">
                    {{ form_label(formulario.session_count, 'Núm. sessions') }}
                    {{ form_widget(formulario.session_count) }}
                </div>
                <div class="col-4 my-2">
                    {{ form_label(formulario.weekday, 'Dia') }}
                    {{ form_widget(formulario.weekday) }}
                </div>
                <div class="col-4 my-2">
                    {{ form_label(formulario.start_hour, 'Hora inici') }}
                    {{ form_widget(formulario.start_hour) }}
                </div>
                <div class="col-4 my-2">
                    {{ form_label(formulario.end_hour, 'Hora fi') }}
                    {{ form_widget(formulario.end_hour) }}
                </div>
            </div>
        {{ form_end(formulario) }}
    </div>


    <div class="col-4 text-center d-flex flex-column justify-content-around">
        <div class="">
            <h6 class="my-3 text-uppercase">Previsualització</h6>
            <figure class="my-2 p-2">
                <img id="preview"
                    class="rounded border" style="max-width: 440px"
                    src="{{ asset(path('activity_picture', {'picture': 'default.png'})) }}"
                    style="object-fit:contain;max-height:400px">
        </div>

            <div class="mx-4">
                    <h6 class="my-3 text-uppercase">Sessions previstes (total: <span id="totalSessions">0</span>)</h6>
                    <table class="table table-bordered table-striped" id="dayTable"></table>
                </div>
                <div></div>
            </div>
    <script type="text/javascript" src="/js/preview.js"></script>

</div>

{% endblock %}
