{% extends 'base.html.twig' %}

{% block title %}Editar {{activity.name}} {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('activity_list') }}">Activitats</a></li>
    <li class="breadcrumb-item active">Editar</li>
{% endblock %}

{% block main %}
    {{ parent() }}

<h4 class="border-bottom py-2 mb-4">Modificar activitat</h4>

<div class="row">
    <div class="col-8">
        {{ form_start(formulario) }}
            <div class="row">


               <h5 class="mt-3">General</h5>
                <div class="col-6 my-2">
                    {{ form_label(formulario.name, 'Nom de l\'activitat') }}
                    {{ form_widget(formulario.name) }}
                </div>
                <div class="col-6 my-2">
                    {{ form_label(formulario.worker, 'Tallerista') }}
                    {{ form_widget(formulario.worker) }}
                </div>
                <div class="col-12 my-2">
                    {{ form_label(formulario.description, 'Descripci칩') }}
                    {{ form_widget(formulario.description) }}
                </div>
                <div class="col-4 my-2">
                    {{ form_label(formulario.is_free, 'Preu') }}
                    {{ form_widget(formulario.is_free) }}
                </div>
                <div class="col-2 my-2">
                    {{ form_label(formulario.places_total, 'Places PS') }}
                    {{ form_widget(formulario.places_total) }}
                </div>
                <div class="col-6 my-2">
                    {{ form_label(formulario.picture, 'Imatge') }}
                    {{ form_widget(formulario.picture) }}
                </div>


                 <h5 class="mt-5">Categories</h5>
                <div class="col-6 my-2">
                    {{ form_label(formulario.ageRange, 'Grup d\'edat') }}
                    {{ form_widget(formulario.ageRange) }}
                </div>
                <div class="col-6 my-2">
                    {{ form_label(formulario.category, 'Categoria') }}
                    {{ form_widget(formulario.category) }}
                </div>


                <h5 class="mt-5">Horaris i dates</h5>
                <div class="col-6 my-2">
                    {{ form_label(formulario.start_date, 'Data inici') }}
                    {{ form_widget(formulario.start_date) }}
                </div>
                <div class="col-6 my-2">
                    {{ form_label(formulario.end_date, 'Data fi') }}
                    {{ form_widget(formulario.end_date) }}
                </div>
                <div class="col-12 my-2">
                    {{ form_label(formulario.weekday, 'Dies') }}
                    {{ form_widget(formulario.weekday, {'row_attr' : {'class' : 'p-5'}}) }}
                </div>
                <div class="col-5 my-2">
                    {{ form_label(formulario.start_hour, 'Hora inici') }}
                    {{ form_widget(formulario.start_hour) }}
                </div>
                <div class="col-5 my-2">
                    {{ form_label(formulario.end_hour, 'Hora fi') }}
                    {{ form_widget(formulario.end_hour) }}
                </div>
            </div>
        {{ form_end(formulario) }}
        
    </div>


    <div class="col-4 text-center d-flex flex-column justify-content-around">
            <div class="">
                <h6 class="my-3 text-uppercase">Previsualitzaci칩</h6>
                <figure class="my-2 p-2">
                    <img id="preview"
                        class="rounded border" style="max-width: 440px"
                        src="{{ activity.picture ?
                            path('activity_picture', {'picture':  activity.picture}) :
                            path('activity_picture', {'picture': 'default.png'}) }}"
                        style="object-fit:contain;max-height:400px">

                {% if activity.picture %}

                        <figcaption class="my-3 text-center">
                            Eliminar la imatge
                            <a href="{{ path('activity_picture_delete', {'id': activity.id}) }}">
                                <img src="{{ asset('res/delete.png')}}" height="30" width="30"
                                    alt="Borrar car치tula" title="Borrar car치tula">
                            </a>
                        </figcaption>
                    </figure>

                {% endif %}
            </div>

            <div>
                <h6 class="my-3 text-uppercase">Sessions previstes</h6>
                <div class="mx-1" id="tablaAqui"></div>
            </div>

    </div>


    <script>
        horario = '{{ activity.schedule }}';
    </script>
    <script type="text/javascript" src="/js/prova.js"></script>
    <script type="text/javascript" src="/js/date_manager.js"></script>
    <script type="text/javascript" src="/js/generate_calendar.js"></script>
    <script type="text/javascript" src="/js/preview_image.js"></script>
    <script type="text/javascript" src="/js/preview_sessions.js"></script>

</div>

{% endblock %}
