{% extends 'base.html.twig' %}

{% block title %}{{ activity.name }} {{ parent() }}{% endblock %}

{% block breadcrumbs %}
	{{ parent() }}
	<li class="breadcrumb-item">
		<a href="{{ path('activity_list') }}">Activitats</a>
	</li>
	<li class="breadcrumb-item active">{{activity.name}}</li>
{% endblock %}

{% block main %}
 	{{ parent() }}
	
	{% set entity = activity.getEntity() %}

	<html>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		</head>
		<body onload="javascript:cambiarPestanna(pestanas,pestana1);">
	
			<h4 class="border-bottom py-2 mb-4">{{activity.name}}</h4>

			<div id="pestanas">
				<ul id='lista' class="nav my-1 border-bottom">
					<li id="pestana1" class="nav-item">
						<a class="nav-link" id="link-pestana1" href='javascript:cambiarPestanna(pestanas,pestana1);'>Dades</a>
					</li>
					{% if entity %}
						<li id="pestana2" class="nav-item mx-1">
							<a class="nav-link" id="link-pestana2" href='javascript:cambiarPestanna(pestanas,pestana2);'>Centre</a>
						</li>
					{% endif %}
					<li id="pestana3" class="nav-item mx-1">
						<a class="nav-link" id="link-pestana3" href='javascript:cambiarPestanna(pestanas,pestana3);'>Inscripció</a>
					</li>
					<li id="pestana4" class="nav-item mx-1">
						<a class="nav-link" id="link-pestana4" href='javascript:cambiarPestanna(pestanas,pestana4);'>Llista</a>
					</li>
					<li id="pestana5" class="nav-item mx-1">
						<a class="nav-link" id="link-pestana5" href='javascript:cambiarPestanna(pestanas,pestana5);'>Llista d'espera</a>
					</li>
				</ul>
			</div>
			<div class="contenedor my-4 p-3">
				<div id="contenidopestanas" class="p-4">
					<div id="cpestana1" class="cpestanas">
						<div class="row m-2 align-items-center">
							<div class="col-6">
								<h4 class="mb-4 pb-2 border-bottom">Dades de l'activitat</h4>
								<h5>Informació general</h5>
								<p class="mb-1 mx-3">
									<b>Places:</b>
									3 places lliures / llista d'espera</p>
								<p class="mb-1 mx-3">
									<b>Cost:</b>
									de franc</p>
								<p class="mb-1 mx-3">
									<b>Lloc:</b>
									AFEGIR LOCALITZACIÓ ACTIVITAT</p>
								<hr>
								<h5>Categories</h5>
								<p class="mb-1 mx-3">
									<b>Grup d'edat:</b>
									adults</p>
								<p class="mb-1 mx-3">
									<b>Categoria:</b>
									físiques i relaxació</p>
								<hr>
								<h5>Horaris</h5>
								<p class="mb-1 mx-3">
									<b>Data i franja horaria:</b>
									{{ activity.startDate|date('d/m/Y') }}
									-
									{{ activity.endDate|date('d/m/Y') }}</p>
								<p class="mb-1 mx-3">
									<b>Horiari:</b>
									{{ activity.schedule }}</p>
								<p class="mb-1 mx-3">(Els horaris poden estar subjectes a canvi.)</p>
								<hr>
								<h5>Tallerista</h5>
								<p class="mb-1 mx-3">
									<b>Tallerista:</b>
									{{ activity.worker }}</p>
								<p class="mb-1 mx-3">
									<b>Contacte tallerista (si escau):</b>
									{{ activity.worker }}</p>
								<hr>
								{% if activity.description %}
									<h5>Més informació</h5>
									<p class="mb-1 mx-3">Espais de convivència i suport mutu per afavorir la salut emocional i social a través de la cuina Dimarts, dimecres o divendres matí</p>
									<hr>
								{% endif %}
							</div>
							<div class="col-5 text-center">
								<img src="{{ asset(activity.picture ? path('activity_picture', {'picture': activity.picture}) : path('activity_picture', {'picture': 'default.png'})) }}" style="object-fit:contain;max-height:350px;width:100%;" alt="Imagen de {{activity.name}}" title="Imagen de {{activity.name}}">
							</div>
						</div>
					</div>

					{% if entity %}
					<div id="cpestana2" class="cpestanas">
						{# INICI CAIXA DADES CENTRE #}
						<div class="row m-2 align-items-center">
							<div class="col-5 align-self-start">
							
								<h4 class="mb-4 pb-2 border-bottom">Dades del centre</h4>
								
								{% if entity.email %}
									<span class="menu-item-wrap">
										<div class="fav-apps__app-icon doc-outline">
											<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
												<title>Mail</title>
												<rect x="48" y="96" width="416" height="320" rx="40" ry="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M112 160l144 112 144-112"/>
											</svg>
										</div>
										{{ entity.email }}
									</span>
								{% endif %}

								{% if entity.phone %}
									<span class="menu-item-wrap">
										<div class="fav-apps__app-icon doc-outline">
											<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
												<path d="M451 374c-15.88-16-54.34-39.35-73-48.76-24.3-12.24-26.3-13.24-45.4.95-12.74 9.47-21.21 17.93-36.12 14.75s-47.31-21.11-75.68-49.39-47.34-61.62-50.53-76.48 5.41-23.23 14.79-36c13.22-18 12.22-21 .92-45.3-8.81-18.9-32.84-57-48.9-72.8C119.9 44 119.9 47 108.83 51.6A160.15 160.15 0 0083 65.37C67 76 58.12 84.83 51.91 98.1s-9 44.38 23.07 102.64 54.57 88.05 101.14 134.49S258.5 406.64 310.85 436c64.76 36.27 89.6 29.2 102.91 23s22.18-15 32.83-31a159.09 159.09 0 0013.8-25.8C465 391.17 468 391.17 451 374z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/>
											</svg>
										</div>
											{{ entity.phone }}
									</span>
								{% endif %}

								{% if entity.location %}
									<span class="menu-item-wrap">
										<div class="fav-apps__app-icon doc-outline">
											<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
												<path d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="192" r="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
											</svg>
										</div>
										{{ entity.location }}
									</span>
								{% endif %}

								{% if entity.schedule %}
									<span class="menu-item-wrap">
										<div class="fav-apps__app-icon doc-outline">
											<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
												<title>Time</title>
												<path d="M256 64C150 64 64 150 64 256s86 192 192 192 192-86 192-192S362 64 256 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 128v144h96"/>
											</svg>
										</div>
										{{ entity.schedule }}
									</span>
								{% endif %}
							</div>

							<div class="col-7 text-center">
								<img src="{{ asset(entity.picture ? path('entity_picture', {'picture': entity.picture}) : path('entity_picture', {'picture': 'default.png'})) }}" style="object-fit:contain;max-height:350px;width:100%;" alt="Imagen de {{entity.name}}" title="Imagen de {{entity.name}}">
							</div>
							
						</div>
					
					</div>
					{% endif %}

					<div id="cpestana3" class="cpestanas">
						<div class="m-2 align-items-center row">

					

							<h4 class="mb-4 pb-2 border-bottom">Crea un tiquet</h4>
							<div class="row m-3 align-items-center">
								<div class="mx-3">
							
									<div class="panel-general border row justify-content-center g-0 my-3 rounded">
						
										<div class="panel-heading border p-3 collapsible">
											<button class="panel-link text-start" data-toggle="collapse">
												<h5>Participant antic</h5>
												<p class="m-0">Crea un tiquet per a un participant que ja estiqui registrat al sistema.</p>
											</button>
										</div>
								
										<div class="panel-body content row col-7">
											<div class="row justify-content-center align-content-center my-5">
												{{ form_start(oldParticipantForm) }}
												<div class="d-flex flex-row justify-content-center align-items-center border bg-light my-2">
													<div class="px-2">
														{{ form_label(oldParticipantForm.participant ) }}
													</div>
													<div class="px-2">
														{{ form_widget(oldParticipantForm.participant) }}
													</div>
													<div class="p-2 mt-3">
														{{ form_row(oldParticipantForm.Afegir) }}
													</div>
													{{ form_end(oldParticipantForm) }}
												</div>
											</div>
										</div>
							

									</div>
						


						
									<div
										class="panel-general border row justify-content-center g-0 my-3 rounded">

							
										<div class="panel-heading border p-3 collapsible">
											<button class="panel-link text-start" data-toggle="collapse">
												<h5>Nou participant</h5>
												<p class="m-0">Crea un tiquet per a un participant que encara no està inscrit al sistema.
												<br>
												*Aquesta operació crea un participant i se li adjudica un tiquet de l'activitat corresponent.</p>
											</button>
										</div>
						

										<div class="panel-body content col-7">
											<div class="row justify-content-center align-content-center my-5">
												<div class="col">
													{{ form_start(newParticipantForm, {'action': path('participant_create_with_ticket')}) }}
													<input type="hidden" name="activity_id" id="activity_id" value={{activity.id}}>
													<div class="row">
														<div class="col-6 my-2">
															{{ form_label(newParticipantForm.name, 'Nom i cognoms') }}
															{{ form_widget(newParticipantForm.name) }}
														</div>
														<div class="col-6 my-2">
															{{ form_label(newParticipantForm.phone, 'Teléfon') }}
															{{ form_widget(newParticipantForm.phone) }}
														</div>
														<div class="col-6 my-2">
															{{ form_label(newParticipantForm.dni, 'DNI') }}
															{{ form_widget(newParticipantForm.dni) }}
														</div>
														<div class="col-6 my-2">
															{{ form_label(newParticipantForm.email, 'Correu electrònic') }}
															{{ form_widget(newParticipantForm.email) }}
														</div>
														<div class="col-12 my-2 mt-3">
															{{ form_label(newParticipantForm.comment, 'Comentaris sobre el participant') }}
															{{ form_widget(newParticipantForm.comment) }}
														</div>
														<div class="col-12 my-2 text-center">
															{{ form_widget(newParticipantForm.Guardar) }}
														</div>
													</div>
													{{ form_end(newParticipantForm) }}
												</div>
											</div>
										</div>
							

									</div>
						
								</div>
							</div>
						</div>
					</div>

					<div id="cpestana4" class="cpestanas">
						<div class="m-2 align-items-center">
							<div class="d-flex justify-content-between align-items-center">
								<h4 class="mb-4 pb-2 border-bottom">Llista de participants</h4>
								<div class="d-flex align-items-center">
									<h6 class="m-4">DISPONIBILITAT</h6>
									<h5 class="p-3 px-5 border fw-3 disponibility">{{ activity.placesTaken }} / {{ activity.placesTotal }}</h5>
								</div>
							</div>
							{% include '/includes/ticket_list_activity.html.twig' %}
						</div>
					</div>

					<div id="cpestana5" class="cpestanas">
						<div class="m-2 align-items-center">
							<div class="d-flex justify-content-between align-items-center">
								<h4 class="mb-4 pb-2 border-bottom">Llista d'espera</h4>
								<div class="d-flex align-items-center">
									<h6 class="m-4">DISPONIBILITAT</h6>
									<h5 class="p-3 px-5 border fw-3 disponibility">{{ activity.placesTaken }} / {{ activity.placesTotal }}</h5>
								</div>
							</div>
							{% include '/includes/ticket_list_activity.html.twig' with {
									'waiting' : true,
									'tickets' : ticketsWaitingList
								}
							%}
						</div>
					</div>

				</div>
			</div>
		</body>
	</html>
</div>
</div>
</body>

</html>
{# FI BOX #}



<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
	coll[i].addEventListener("click", function () {
	this.classList.toggle("active");
	var content = this.nextElementSibling;


	if (content.style.display === "block") {
		content.style.display = "none";
		content.style.maxHeight = null;
	} else {
			content.style.display = "block";
			content.style.maxHeight = content.scrollHeight + "px";
	}
	});
}


function cambiarPestanna(pestannas, pestanna) {

		pestanna = document.getElementById(pestanna.id);
		pestannaLink = document.getElementById('link-' + pestanna.id);
		listaPestannas = document.getElementById(pestannas.id);

		cpestanna = document.getElementById('c' + pestanna.id);
		listacPestannas = document.getElementById('contenido' + pestannas.id);

		i = 0;
		while (typeof listacPestannas.getElementsByTagName('div')[i] != 'undefined') {
		$(document).ready(function () {
		$(listacPestannas.querySelectorAll('.cpestanas')[i]).css('display', 'none');
		$(listaPestannas.getElementsByTagName('li')[i]).css('border-bottom', '0');
		$(listaPestannas.getElementsByTagName('li')[i]).css('padding-bottom', '');
		});
		i += 1;
		}

		$(document).ready(function () {
		$(cpestanna).css('display', '');
		$(pestanna).css('border-bottom', '#2e7d32 2px solid');
		$(pestanna).css('padding-bottom', '1px');
		});

}


</script>

<script type="text/javascript" src="/js/activity_list.js"></script>


{% endblock %}
